.main-container{
    width: 100%;
}

.task-card {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    font-family: Arial, sans-serif;
    width: calc(25% - 16px);
    box-sizing: border-box;
}

@media (max-width: 800px) {
    .task-card {
      width: calc(35% - 16px);
    }
}
  
@media (max-width: 600px) {
.task-card {
    width: 100%;
}
}

.task-card-btn {
    margin:auto;
}

.task-title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 8px;
}

.task-description {
    font-size: 14px;
    color: #666666;
    margin-bottom: 12px;
}

.task-completed label {
    font-size: 14px;
    color: #333333;
    display: flex;
    align-items: center;
    gap: 8px;
}

.task-completed input[type="checkbox"] {
    transform: scale(1.2);
    accent-color: #0079bf;
}

.task-card:hover {
    border-color: #0079bf;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.btn-save {
    background-color: #5aac44;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.btn-save:hover {
background-color: #519839;
}

.btn-close {
    background-color: #2f2f2f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.btn-close:hover {
background-color: #3e3e3e;
}

.btn-add {
    background-color: #0079bf;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-add:hover {
    background-color: #005fa3;
}

.btn-container {
    max-width: 300px;
    gap: 8px;
    text-align: center;
    margin:auto;
}

.btn-delete {
position: absolute;
bottom: 10px;
right: 10px;
background-color: transparent;
border: none;
cursor: pointer;
font-size: 12px;
color: #ff4d4d;
transition: color 0.3s ease;
}

.btn-delete:hover {
color: #d12b2b;
}

.btn-delete i {
margin-right: 5px;
}


.button-container{
    text-align: center;
    width: 100%;
}